.nav {
  border-bottom: 1px solid #111;
  background: #fff;
}

body[class*="dark-mode"] .nav {
  background: #111;
}
body[class*="dark-mode"] .languagebtn {
  color: red;
}

body[class*="dark-mode"] .username{
  color: red;
}
.totalitemnumber{
  right: 0.1rem;
  top: 0.7rem;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 90%;
  padding: 0.4rem;
}